h3{font-weight: 300;}
h5{font-weight: 100;}
img{width: 350px;border-radius: 5px;height: 400px;}
body{width: 50%;margin: 20px;background-color: chartreuse;color: red;}
span{color: blue;background-color: black;}
.ert{border: 3px solid rgb(132, 0, 255);border-radius: 5px;padding: 1% 25% 1% 25%;}